:host {
  display: block;
  width: 100%;
  word-wrap: break-word;
  background: white;
  font-family: 'Open Sans', Arial, sans-serif;
}

table {
  width: 100%;
}

table td {
  vertical-align: top;
  padding: 5px;
}

table td:first-child {
  width: 25%;
}
