@import 'variables';

// Converts a color to a comma separated rgb.
// --------------------------------------------------------------------------------------------
@function color-to-rgb-list($color) {
  @return #{red($color)},#{green($color)},#{blue($color)};
}

@function getVariableName($name) {
  @return --#{$theme-prefix}-#{$name};
}

@function getColorVariableName($name) {
  @return getVariableName(color-#{$name}-rgb);
}

@function getFontSizeVariableName($name) {
  @return getVariableName(font-size-#{$name});
}

@mixin propertyColorVariable($property-name, $variable-name, $opacity: 1) {
  #{$property-name}: rgba(map-get($colors, $variable-name), $opacity);
  #{$property-name}: rgba(var(getColorVariableName($variable-name)), $opacity);
}

@mixin propertyFontSizeVariable($variable-name) {
  font-size: map-get($fontsSize, $variable-name);
  font-size: var(getFontSizeVariableName($variable-name));
}

@mixin propertyFontFamilyVariable() {
  font-family: $font-family;
  font-family: var(getVariableName(font-family));
}

@mixin propertyFontSpacingVariable() {
  letter-spacing: $font-letter-spacing-normal;
  letter-spacing: var(getVariableName(letter-spacing-normal));
}

@mixin propertyFontHeightVariable() {
 line-height: $font-line-height-normal;
 line-height: var(getVariableName(line-height-normal));
}
