$theme-prefix: pv;
$font-family: 'Open Sans', 'Arial', sans-serif;
$font-letter-spacing-normal: 0.03em;
$font-line-height-normal: 1.4;

$colors: (
  dark: #2A3134,
  light: #ffffff,
  grey_3: #D1D5D9,
  grey_5: #869196,
  attention: #F7A831,
  primary: #3584F7,
);
$fontsSize: (
  h4: 17px,
  h6: 15px,
  h7: 14px,
  b1: 15px,
  b3: 13px,
);
