@import './theme.default';
@import './functions.color';

@each $name, $value in $colors {
  .peculiar_stroke_#{$name} {
    border-color: $value;
    border-color: rgb(var(--peculiar-color-#{$name}-rgb, #{color-to-rgb-list($value)}));
  }

  .peculiar_fill_#{$name} {
    background-color: $value;
    background-color: rgb(var(--peculiar-color-#{$name}-rgb, #{color-to-rgb-list($value)}));
  }

  .peculiar_color_#{$name} {
    color: $value;
    color: rgb(var(--peculiar-color-#{$name}-rgb, #{color-to-rgb-list($value)}));
  }
}
