:root {
  --pv-font-family: 'Open Sans', 'Arial', sans-serif;
  --pv-color-primary-tint-5: #e8ffe5;
  --pv-color-primary-tint-4: #c6efc2;
  --pv-color-primary-tint-3: #a9e2a3;
  --pv-color-primary-tint-2: #8ed686;
  --pv-color-primary-tint-1: #76c96c;
  --pv-color-primary: #5ebc54;
  --pv-color-primary-shade-1: #569e4f;
  --pv-color-primary-shade-2: #4b7f46;
  --pv-color-primary-shade-3: #3e603a;
  --pv-color-primary-shade-4: #2d422b;
  --pv-color-primary-shade-5: #1b261a;
  --pv-color-primary-contrast: #FFFFFF;
  --pv-color-secondary-tint-5: #e5efff;
  --pv-color-secondary-tint-4: #c2d8fc;
  --pv-color-secondary-tint-3: #9fc2f9;
  --pv-color-secondary-tint-2: #7babf7;
  --pv-color-secondary-tint-1: #5a95f4;
  --pv-color-secondary: #377ff4;
  --pv-color-secondary-shade-1: #4276c9;
  --pv-color-secondary-shade-2: #4367a0;
  --pv-color-secondary-shade-3: #3e5477;
  --pv-color-secondary-shade-4: #303c4f;
  --pv-color-secondary-shade-5: #1a1f26;
  --pv-color-secondary-contrast: #FFFFFF;
  --pv-color-wrong-tint-5: #ffe6e5;
  --pv-color-wrong-tint-4: #f7c2c0;
  --pv-color-wrong-tint-3: #efa09e;
  --pv-color-wrong-tint-2: #ea827e;
  --pv-color-wrong-tint-1: #e2635f;
  --pv-color-wrong: #de4641;
  --pv-color-wrong-shade-1: #b74945;
  --pv-color-wrong-shade-2: #934644;
  --pv-color-wrong-shade-3: #6d3c3b;
  --pv-color-wrong-shade-4: #492e2d;
  --pv-color-wrong-shade-5: #261b1a;
  --pv-color-wrong-contrast: #FFFFFF;
  --pv-color-attention-tint-5: #fff4e5;
  --pv-color-attention-tint-4: #fce4bf;
  --pv-color-attention-tint-3: #f9d39a;
  --pv-color-attention-tint-2: #f9c577;
  --pv-color-attention-tint-1: #f7b654;
  --pv-color-attention: #f7a831;
  --pv-color-attention-shade-1: #cc923d;
  --pv-color-attention-shade-2: #a37c41;
  --pv-color-attention-shade-3: #775f3b;
  --pv-color-attention-shade-4: #4f422f;
  --pv-color-attention-shade-5: #26211a;
  --pv-color-success-tint-5: #e5fff6;
  --pv-color-success-tint-4: #bcf4e2;
  --pv-color-success-tint-3: #96eace;
  --pv-color-success-tint-2: #72e0bb;
  --pv-color-success-tint-1: #51d6a9;
  --pv-color-success: #33cc99;
  --pv-color-success-shade-1: #3aaa85;
  --pv-color-success-shade-2: #3b896f;
  --pv-color-success-shade-3: #366857;
  --pv-color-success-shade-4: #2b473e;
  --pv-color-success-shade-5: #1a2622;
  --pv-color-white: #FFFFFF;
  --pv-color-gray-1: #FBFCFD;
  --pv-color-gray-2: #F4F7FC;
  --pv-color-gray-3: #EFF1F6;
  --pv-color-gray-4: #EAEDF2;
  --pv-color-gray-5: #E3E5E8;
  --pv-color-gray-6: #D8DBDE;
  --pv-color-gray-7: #CDD1D5;
  --pv-color-gray-8: #C4C8CC;
  --pv-color-gray-9: #8F999E;
  --pv-color-gray-10: #5C666A;
  --pv-color-black: #293033;
  --pv-color-extra-1: #826FF6;
  --pv-color-extra-2: #DC6CDF;
  --pv-shadow-light-low: 0px 1px 3px rgba(85, 94, 98, 0.12),0px 3px 3px rgba(85, 94, 98, 0.08),0px 1px 7px rgba(85, 94, 98, 0.06);
  --pv-shadow-light-medium: 0px 1px 4px rgba(85, 94, 98, 0.18),0px 3px 5px rgba(85, 94, 98, 0.14),0px 1px 10px rgba(85, 94, 98, 0.12);
  --pv-shadow-light-hight: 0px 1px 8px -2px rgba(85, 94, 98, 0.2),0px 5px 10px 0.2px rgba(85, 94, 98, 0.25),0px 15px 20px 0.2px rgba(85, 94, 98, 0.21);
  --pv-shadow-dark-medium: 0px 1px 4px rgba(41, 48, 51, 0.18),0px 3px 5px rgba(41, 48, 51, 0.16),0px 1px 10px rgba(41, 48, 51, 0.14);
  --pv-shadow-dark-hight: 0px 1px 8px -2px rgba(85, 94, 98, 0.2),0px 5px 10px 0.2px rgba(85, 94, 98, 0.3),0px 15px 20px 0.2px rgba(85, 94, 98, 0.25);
  --pv-text-h1-weight: 800;
  --pv-text-h1-size: 30px;
  --pv-text-h1-height: 40px;
  --pv-text-h1-spacing: 0.1px;
  --pv-text-h2-weight: 800;
  --pv-text-h2-size: 24px;
  --pv-text-h2-height: 35px;
  --pv-text-h2-spacing: 0.1px;
  --pv-text-h3-weight: 700;
  --pv-text-h3-size: 20px;
  --pv-text-h3-height: 30px;
  --pv-text-h3-spacing: 0.2px;
  --pv-text-h4-weight: 700;
  --pv-text-h4-size: 18px;
  --pv-text-h4-height: 28px;
  --pv-text-h4-spacing: 0.2px;
  --pv-text-h5-weight: 700;
  --pv-text-h5-size: 16px;
  --pv-text-h5-height: 25px;
  --pv-text-h5-spacing: 0.15px;
  --pv-text-s1-weight: 600;
  --pv-text-s1-size: 15px;
  --pv-text-s1-height: 25px;
  --pv-text-s1-spacing: 0.25px;
  --pv-text-s2-weight: 600;
  --pv-text-s2-size: 14px;
  --pv-text-s2-height: 22px;
  --pv-text-s2-spacing: 0.25px;
  --pv-text-b1-weight: 400;
  --pv-text-b1-size: 15px;
  --pv-text-b1-height: 25px;
  --pv-text-b1-spacing: 0.4px;
  --pv-text-b2-weight: 400;
  --pv-text-b2-size: 14px;
  --pv-text-b2-height: 22px;
  --pv-text-b2-spacing: 0.4px;
  --pv-text-b3-weight: 400;
  --pv-text-b3-size: 13px;
  --pv-text-b3-height: 20px;
  --pv-text-b3-spacing: 0.55px;
  --pv-text-btn1-weight: 700;
  --pv-text-btn1-size: 14px;
  --pv-text-btn1-height: 20px;
  --pv-text-btn1-spacing: 0.2px;
  --pv-text-btn2-weight: 700;
  --pv-text-btn2-size: 13px;
  --pv-text-btn2-height: 17px;
  --pv-text-btn2-spacing: 0.2px;
  --pv-text-c1-weight: 400;
  --pv-text-c1-size: 12px;
  --pv-text-c1-height: 17px;
  --pv-text-c1-spacing: 0.45px;
  --pv-text-c2-weight: 400;
  --pv-text-c2-size: 11px;
  --pv-text-c2-height: 15px;
  --pv-text-c2-spacing: 0.5px;
  --pv-size-base-half: 2.5px;
  --pv-size-base: 5px;
  --pv-size-base-2: 10px;
  --pv-size-base-3: 15px;
  --pv-size-base-4: 20px;
  --pv-size-base-5: 25px;
  --pv-size-base-6: 30px;
  --pv-size-base-7: 35px;
  --pv-size-base-8: 40px;
  --pv-size-base-9: 45px;
  --pv-size-base-10: 50px;
  --pv-size-base-11: 55px;
  --pv-size-base-12: 60px;
  --pv-size-base-14: 70px;
  --pv-size-base-16: 80px;
}
