:host {
  display: block;
  width: 100%;
}

td {
  border: none;
  padding: 0;
}

table {
  width: 100%;
}

td {
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 5px;
}

table td:first-child {
  width: 130px;
  padding-right: 10px;
}

table td:last-child {
  width: calc(100% - 130px);
}

/* Adaptivity */
@media (max-width: 900px) {
  table, tr, td {
    display: block;
  }

  table td:last-child,
  table td:first-child {
    width: 100%;
  }
}
