**/node_modules/**
**/dist/**
**/react-component-lib/**
packages/webcomponents/loader/
packages/webcomponents/www/
packages/webcomponents/src/www-copy/
packages/webcomponents/components/
packages/webcomponents/hydrate/
