body {
  color: #0d091a;
  margin: 0;
  font-family: var(--pv-font-family);
}

a {
  color: #4da3fc;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-position: inside;
}

header {
  background: #111111;
  padding: 0 20px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

header > a {
  text-decoration: none;
  color: #fff;
  transition: opacity 200ms;
}

header > a:hover {
  opacity: .6;
}

nav a {
  padding: 0 5px;
}

section {
  padding: 20px;
}
