:host {
  display: block;
  width: 100%;

  &[aria-expanded="true"] {
    .content {
      white-space: initial;
    }

    .action {
      transform: rotate(180deg);
    }
  }
}

.content {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 50px);
  vertical-align: top;
}

.action {
  margin-left: 20px;
  width: 30px;
  position: relative;
  top: -6px;
}
