:root {
  /* Colors */
  --pv-color-black-rgb: 42, 49, 52;
  --pv-color-white-rgb: 255, 255, 255;
  --pv-color-border-rgb: 209, 213, 217;
  --pv-color-primary-rgb: 53, 132, 247;
  --pv-color-grey-rgb: 134, 145, 150;
  --pv-color-attention-rgb: 247, 168, 49;

  /* Button component */
  --pv-button-padding-end: 5px;
  --pv-button-padding-start: 5px;
}
