:host {
  display: block;
}

/* Basic information */
.basic_info {
  display: flex;
}

.basic_col {
  flex: 1 1 auto;
  min-width: 220px;
  padding-right: 40px;
  position: relative;
}

.basic_col.is_only {
  flex-grow: 3;
}

.basic_col:after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  right: 20px;
  background-color: #D1D5D9;
  opacity: 0.5;
}

.basic_meta {
  flex: 3 1 auto;
  min-width: 450px;
}
/* DN styles */
.dn_name {
  display: inline-block;
  width: 30px;
  vertical-align: top;
  padding-right: 5px;
}

.dn_value {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 30px);
}

.dn_row:not(:last-child) {
  margin-bottom: 10px;
}

/* Meta styles */
.meta_row:not(:last-child) {
  margin-bottom: 10px;
}

.meta_name {
  display: inline-block;
  width: 120px;
  padding-right: 5px;
  vertical-align: top;
}

.meta_value {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 120px);
}

/* Adaptivity */
@media (max-width: 767px) {
  .basic_info {
    flex-wrap: wrap;
  }
  .basic_col {
    padding: 20px 0;
    flex-basis: 100%;
  }

  .basic_col::after {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
  }

  .basic_meta {
    flex-basis: 100%;
    padding: 20px 0;
    min-width: auto;
  }
}
