$dark: #2A3134 !default;
$light: #ffffff !default;
$grey_3: #D1D5D9 !default;
$grey_5: #869196 !default;
$attention: #F7A831 !default;
$primary: #3584F7 !default;

// Default Colors
$colors: (
  dark: $dark,
  light: $light,
  grey_3: $grey_3,
  grey_5: $grey_5,
  attention: $attention,
  primary: $primary,
) !default;

// Default Typography
$typography: (
  h4: (
    font-size: 17px,
    line-height: 1.4,
    font-weight: 600,
    letter-spacing: 0.188889px,
  ),
  h6: (
    font-size: 15px,
    line-height: 20px,
    font-weight: 600,
    letter-spacing: 0.3px,
  ),
  h7: (
    font-size: 14px,
    line-height: 1.35,
    font-weight: 600,
    letter-spacing: 0px,
  ),
  b1: (
    font-size: 15px,
    line-height: 1.46,
    font-weight: 400,
    letter-spacing: 0.3px,
  ),
  b3: (
    font-size: 13px,
    line-height: 1.5,
    font-weight: 400,
    letter-spacing: 0.03em,
  ),
) !default;
