/* Text type */
.b1 {
  font-family: inherit;
  font-size: 15px;
  line-height: 1.46;
  letter-spacing: 0.3px;
}
.b3 {
  font-family: inherit;
  font-size: 13px;
  line-height: 1.53;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.h4 {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.h6 {
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.h7 {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
}

/* Text color */
.text_black {
  color: rgb(var(--pv-color-black-rgb));
}

.text_white {
  color: rgb(var(--pv-color-white-rgb));
}

.text_grey {
  color: rgb(var(--pv-color-grey-rgb));
}

.text_primary {
  color: rgb(var(--pv-color-primary-rgb));
}

/* Text aligance */
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

/* Background color */
.fill_grey_light {
  background-color: rgb(var(--pv-color-grey-light-rgb));
}

.fill_border_light {
  background-color: rgb(var(--pv-color-border-rgb), 1);
}

.fill_grey {
  background-color: rgb(var(--pv-color-grey-rgb));
}

.fill_white {
  background-color: rgb(var(--pv-color-white-rgb));
}

.fill_primary {
  background-color: rgb(var(--pv-color-primary-rgb));
}

/* SVG fill color */
.svg_fill_black {
  fill: rgb(var(--pv-color-black-rgb));
}

.svg_fill_white {
  fill: rgb(var(--pv-color-white-rgb));
}

.svg_fill_primary {
  fill: rgb(var(--pv-color-primary-rgb));
}

/* Border color */
.stroke_border {
  border-color: rgb(var(--pv-color-border-rgb));
}

.stroke_primary_light {
  border-color: rgba(var(--pv-color-primary-rgb), 0.3);
}

.monospace {
  font-family: monospace;
}
