@import './theme.default';

@each $name, $value in $typography {
  $value: map-get($typography, $name);

  $font-size: map-get($value, font-size);
  $line-height: map-get($value, line-height);
  $font-weight: map-get($value, font-weight);
  $letter-spacing: map-get($value, letter-spacing);

  .peculiar_#{$name} {
    font-size: #{$font-size};
    line-height: #{$line-height};
    font-weight: #{$font-weight};
    letter-spacing: #{$letter-spacing};
  }
}
