:host {
  display: block;
  width: 100%;
  word-wrap: break-word;
  background: white;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table tr {
  vertical-align: middle;
}

table th {
  padding: 15px 10px;
  text-align: left;
  border-width: 1px;
  border-style: solid;
}

table td {
  padding: 8px 10px;
  text-align: left;
  border-width: 1px;
  border-style: solid;
}

table th:nth-child(1) {
  width: 20%;
}

table th:nth-child(2) {
  width: 58%;
}

/* Mockup particular parts styles */

/* Expande rows styles */
/* First row */
table tr.expanded td:not(:last-child) {
  border-right-color: transparent;
}

table tr.expanded td {
  border-bottom-color: transparent;
}

/* Second row */
table tr.expanded_summary td {
  vertical-align: top;
  padding: 10px 20px 26px;
}

/* Columns styles */
/* DN styles */
.dn_name {
  display: inline-block;
  width: 40px;
  vertical-align: top;
  padding-right: 5px;
}

.dn_value {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 40px);
}

.dn_row:not(:last-child) {
  margin-bottom: 10px;
}

/* Meta styles */
.meta_row:not(:last-child) {
  margin-bottom: 10px;
}

.meta_name {
  display: inline-block;
  width: 120px;
  padding-right: 5px;
  vertical-align: top;
}

.meta_value {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 120px);
}

@keyframes fadeIn {
  0% {
    opacity: 0.001;
  }
  100% {
    opacity: 1;
  }
}

.modal_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  padding: 20px;
  text-align: center;
  background: rgba(42, 49, 52, 0.8);
  animation: fadeIn 300ms;
}

.modal_wrapper:before {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
  content: '';
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal_content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 10px;
  border-radius: 3px;
}

.button_table_action {
  margin: 2px;
}
