@import 'component';

:host {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  word-wrap: break-word;
  text-size-adjust: none;

  display: inline-block;
}

.link {
  @include propertyFontFamilyVariable();
  @include propertyFontSpacingVariable();
  @include propertyFontHeightVariable();
  @include propertyColorVariable(color, primary);
  font-weight: 400;
  margin: 0;
  padding: 0;
  word-break: break-all;

  &_type_h4 {
    @include propertyFontSizeVariable(h4);
    font-weight: 600;
  }

  &_type_h6 {
    @include propertyFontSizeVariable(h6);
    font-weight: 600;
  }

  &_type_h7 {
    @include propertyFontSizeVariable(h7);
    font-weight: 600;
  }

  &_type_b1 {
    @include propertyFontSizeVariable(b1);
  }

  &_type_b3 {
    @include propertyFontSizeVariable(b3);
  }

  &:hover {
    text-decoration: none;
  }
}
