:host {
  display: inline-block;
  vertical-align: top;
  position: relative;
  white-space: nowrap;
  font-size: 0;
}

.button_split_icon {
  width: 7px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
}

.button_split_with_icon {
  width: 25px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.button_split_action {
  width: 100%;
}

.active_split_container {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0px 2px 1px var(--pv-color-white), 0px 0px 10px rgba(0, 0, 0, 0.0241168);
  z-index: 1;
}

.button_split {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right-width: 0;
}
