body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  word-wrap: break-word;
  text-size-adjust: none;
  margin: 0;
  padding: 0;
}

@import '../styles/global.variables';
@import '../styles/core';
