@import 'component';

:host {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  word-wrap: break-word;
  text-size-adjust: none;

  display: block;
  width: 100%;
  font-size: 0;
}

.textarea {
  min-height: 300px;
  width: 100%;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  padding: 14px;
  font-family: monospace;
  resize: vertical;
  background-color: rgb(var(--pv-color-light-rgb));
  border-color: rgb(var(--pv-color-grey_3-rgb));
  color: rgb(var(--pv-color-dark-rgb));
  letter-spacing: var(--pv-letter-spacing-normal);
  font-size: var(--pv-font-size-h7);
}

.controls {
  margin-top: 10px;
}

.button {
  position: relative;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.viewer {
  margin-top: 64px;
}

.input_file {
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
}
