@import 'component';

:host {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  word-wrap: break-word;
  text-size-adjust: none;

  display: block;
}

.typography {
  @include propertyFontFamilyVariable();
  @include propertyFontSpacingVariable();
  @include propertyFontHeightVariable();
  font-weight: 400;
  margin: 0;
  padding: 0;
  display: block;

  &_type_h4 {
    @include propertyFontSizeVariable(h4);
    font-weight: 600;
  }

  &_type_h6 {
    @include propertyFontSizeVariable(h6);
    font-weight: 600;
  }

  &_type_h7 {
    @include propertyFontSizeVariable(h7);
    font-weight: 600;
  }

  &_type_b1 {
    @include propertyFontSizeVariable(b1);
  }

  &_type_b3 {
    @include propertyFontSizeVariable(b3);
  }

  &_color_dark {
    @include propertyColorVariable(color, dark);
  }

  &_color_light {
    @include propertyColorVariable(color, light);
  }

  &_color_grey_3 {
    @include propertyColorVariable(color, grey_3);
  }

  &_color_grey_5 {
    @include propertyColorVariable(color, grey_5);
  }

  &_color_attention {
    @include propertyColorVariable(color, attention);
  }

  &_color_primary {
    @include propertyColorVariable(color, primary);
  }

  &_ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &_monospace {
    font-family: monospace;
  }

  &_align_left {
    text-align: left;
  }

  &_align_center {
    text-align: center;
  }

  &_align_right {
    text-align: right;
  }
}
