:host {
  display: inline-block;
}

.link_native {
  margin: 0;
  padding: 0;
  font-family: var(--peculiar-font-family);
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  word-break: break-word;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}
